<%- include ../common/header.ejs %>
<div class="banner-news-detail gb-w">
    <%- include ../common/nav.ejs %>
</div>
<div class="dc-new-detail">
    <div class="dc-detail">
        <div class="df-newdetail">

            <h3 class="df-subject"><%=data.data.title%></h3>
            <p class="df-source">来源：<%=data.data.afrom%></p>
            <div class="df-connect-img"><%-data.data.content%></div>
            <!--<p class="df-year">-->
                <!--农历新年刚过，第1车贷再传喜讯。继1月初B轮融资之后，时隔仅一个月，第1车贷2月7日即宣布完成B+轮1.4亿元人民币融资。本轮融资由天马股份、东南基金共同投资，青桐资本担任独家财务顾问。</p>-->
            <!--<img src="/dist/images/dc/lecture.jpg" alt="">-->
            <!--<p class="df-explain">第1车贷董事长李海燕女士发表演讲</p>-->
            <!--<p class="df-year">-->
                <!--一个月前，第1车贷得到由酉金资本、毅达资本领投，经纬创投、宜信产业基金、奇虎360联合投资的3.6亿元融资。至此，第1车贷B轮和B+轮累计融资金额达5亿元人民币。 </p>-->
            <!--<h3 class="df-sprint">用百米冲刺的速度跑一场创业马拉松 </h3>-->
            <!--<p class="df-engineering">-->
                <!--现阶段，行业内正经历着令无数创业者闻风丧胆的资本寒冬，而第1车贷却逆势而上，在短短一个月完成两轮融资，成为资本的宠儿。第1车贷CEO郭超对此表示，B+轮融资的快速完成，一方面源于我们内部高效的执行力支撑、另一方面也代表资本市场对第1车贷商业模式、专业能力、市场前景的高度认可。" </p>-->
            <!--<p class="df-engineering">"我们再一次用‘第1车贷速度’向行业证明了自身的增长潜力。创业不是百米冲刺，而是一场马拉松。我们正在用百米冲刺的速度来完成这场创业长跑。</p>-->
            <!--<p class="df-engineering">-->
                <!--飞奔的路上，第1车贷特别注重行业资源共享和生态融合。借助第1车贷推出的信息共享平台（DASS），资金方可高效便捷查询质押车辆的品牌、款型、里程数、权属地、监管状态等详尽信息。车辆资产信息的公正、公开、透明，最大程度上降低了信用欺诈、资产重复质押等潜在风险，保障了资金方的投资收益。平台上线一个月以来，迅速赢得了行业同仁的响应和资金方的一致好评。"</p>-->
            <!--<p class="df-engineering">-->
                <!--"随着平台与更多的合作伙伴无缝对接，实现全行业数据共享之后，我相信这一‘阳光工程’将更加有利于打破信息壁垒，营造公正、公开、透明的经营环境，使整个行业更加合法合规、稳健发展。" 郭超说。</p>-->
            <!--<img src="/dist/images/dc/experience.jpg" alt="">-->
            <!--<p class="df-explain">三位B轮股东代表分享与第1车贷合作经历</p>-->
            <!--<h3 class="df-sprint">科技金融（Fintech）赋能汽车后市场</h3>-->
            <!--<p class="df-engineering">-->
                <!--创业及成长的过程往往充满危机感，时代变幻莫测，要想在行业占据一席之地，就要不断创新，而科技创新力正是第1车贷持续前行的首要因素。基于汽车科技金融平台的定位，第1车贷始终把科技金融（Fintech）作为自身的核心竞争力之一。 </p>-->
            <!--<p class="df-engineering">-->
                <!--同时，顺应政策转型和供给侧改革的大势，第1车贷正在为汽车产业链上的中小微企业经营者和消费者增加金融供给。更重要的是，第1车贷通过输出科技金融能力，赋能于汽车后市场和产业链上的合作伙伴，帮助他们增加收入、降低风险、提升效率，实现了产业链上下游的紧密融合、填平了行业间的信息鸿沟、搭建了新兴的用户消费场景、贯通了资金与资产的高效对接，从而给整个行业带来了长期价值。</p>-->
            <!--<p class="df-engineering">-->
                <!--关于融资后的发展方向，郭超进一步透露，第一个三年，我们打通了渠道、建立了场景、实现了汽车后市场的全产业链布局。后续将进一步拓展平台优势、强化线上线下的深度融合、不断完善供应链金融产品和服务，同时通过B端积累的渠道和场景优势，打造结构化金融产品形态，带动个贷金融服务升级。</p>-->
            <!--<p class="df-engineering df-engineering-b">-->
                <!--"未来，第1车贷希望和更多的业内外同仁加强合作，共同构建积极健康、可持续发展的汽车后市场产业生态圈，促进整个汽车产业有形市场各个环节的良性循环，助力国家实体经济和循环经济的快速发展。"</p>-->
        </div>
        <div class="df-rank-box">
            <a href="/news" class="df-rank">返回列表</a>
        </div>
        <%- include ../common/footer.ejs %>
        <!--回到顶部-->
        <img src="/dist/images/dc/backTop.png" alt="" class="df-backTop">
    </div>
</div>

