<%- include ../common/header.ejs %>
<div class="banner-aboutus gb-w">
    <%- include ../common/nav.ejs %>
    <h3 class="bh">第1车贷—汽车互联生态服务平台</h3>
</div>
<div class="df-aboutus-box gb-w cfix">
    <ul class="df-title-b cfix J-tabh">
        <li class="df-about-title df-about-tone active">第1车贷简介</li>
        <li class="df-about-title">企业文化</li>
        <li class="df-about-title">发展历程</li>
        <li class="df-about-title">荣誉奖项</li>
        <li class="df-about-title">核心团队</li>
        <li class="df-about-title">联系我们</li>
        <li class="df-about-title df-about-our">加入我们</li>
    </ul>
</div>
<div class="df-box J-tabw">
    <div class="animated J-tabc dc-aboutus" id="dc-aboutus" style="display: block">
        <div class="dc-aboutuw-course">
            <div class="df-about-series cfix">
                <div class="df-about-left">
                    <img src="/dist/images/dc/briefly.jpg" alt="" class="df-briefly">
                </div>
                <div class="df-about-right">
                    <h3 class="df-ecology">第1车贷—汽车互联生态服务平台</h3>
                    <p class="df-pass df-pass-first">第1车贷是一家在新车及二手车领域同时为B端和C端用户提供一站式服务的汽车互联网平台。</p>
                    <p class="df-pass">过去，通过四年多的发展，已建立覆盖新车、二手车领域的B2B交易服务、B2C以租代售服务平台等服务。截止2017年9月，业务覆盖城市超过180多个，累计服务规模超过270亿元。现在，在汽车产业流通新趋势的背景下，第1车贷正在建立全国网络的B端交易服务平台和C端以租代售为核心的开放式服务平台，并致力于开发基于微服务、云服务、区块链、大数据、物联网等技术的全方位服务平台。未来，第1车贷将为中国万亿级汽车市场及汽车生态体系提供其提升能力所需的关键产品、平台以及开放式服务，从而提升汽车行业流通效率，与行业同仁共建有生命力的汽车产业链生态圈。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="animated J-tabc dc-civilization" id="dc-civilization">
        <div class="df-civilization-box">
            <div class="df-facevalue cfix">
                <div class="df-mission">
                    <img src="/dist/images/dc/mission.jpg" alt="" class="df-miss">
                </div>
                <div class="df-aspiration-box">
                    <h3 class="df-aspiration">·使命·</h3>
                    <p class="df-df-aspiration-h">引领中国汽车科技金融的发展， </p>
                    <p class="df-df-aspiration-h">为汽车后市场产业链上的经营者与消费者提供 </p>
                    <p class="df-df-aspiration-h">专业可靠、高效便捷的一站式综合解决方案， </p>
                    <p class="df-df-aspiration-h">共建有生命力的汽车产业链生态圈。</p>
                </div>
            </div>
            <div class="df-facevalue cfix">
                <div class="df-mission">
                    <img src="/dist/images/dc/aspiration.jpg" alt="" class="df-miss">
                </div>
                <div class="df-aspiration-box">
                    <h3 class="df-aspiration">·愿景·</h3>
                    <p class="df-df-aspiration-h">成为中国汽车后市场中最有价值的企业</p>
                </div>
            </div>
            <div class="df-facevalue df-facevalue-b cfix">
                <div class="df-mission">
                    <img src="/dist/images/dc/facevalue.jpg" alt="" class="df-miss">
                </div>
                <div class="df-aspiration-box">
                    <h3 class="df-aspiration">·价值观·</h3>
                    <p class="df-df-aspiration-h">拼搏进取 简单高效 严谨务实</p>
                </div>
            </div>
        </div>
    </div>
    <div class="animated J-tabc dc-grow" id="dc-grow">
        <div class="df-grow-box">
            <div class="df-circle df-circle-one"></div>
            <div class="df-circles df-circle-ones"></div>
            <div class="df-date-box df-date-one">
                <p class="df-date">2017.09</p>
                <p>第1车贷交易服务平台启动</p>
            </div>
            <div class="df-circle df-circle-two"></div>
            <div class="df-circles df-circle-twos"></div>
            <div class="df-date-boxs df-date-two">
                <p class="df-date">2017.08</p>
                <p>支付结算基础设施建立</p>
            </div>
            <div class="df-circle df-circle-three"></div>
            <div class="df-circles df-circle-threes"></div>
            <div class="df-date-box df-date-three">
                <p class="df-date">2017.07</p>
                <p>梦享车上线</p>
            </div>
            <div class="df-circle df-circle-four"></div>
            <div class="df-circles df-circle-fours"></div>
            <div class="df-date-boxs df-date-four">
                <p class="df-date">2016.12</p>
                <p>完成B轮融资</p>
            </div>
            <div class="df-circle df-circle-five"></div>
            <div class="df-circles df-circle-fives"></div>
            <div class="df-date-box df-date-five">
                <p class="df-date">2016.11</p>
                <p>业务规模破百亿</p>
            </div>
            <div class="df-circle df-circle-six"></div>
            <div class="df-circles df-circle-sixs"></div>
            <div class="df-date-box df-date-six">
                <p class="df-date">2015.12</p>
                <p>A+轮融资</p>
            </div>
            <div class="df-circle df-circle-seven"></div>
            <div class="df-circles df-circle-sevens"></div>
            <div class="df-date-box df-date-seven">
                <p class="df-date">2015.06</p>
                <p>A轮融资 业务规模破10亿</p>
            </div>
            <div class="df-circle df-circle-eight"></div>
            <div class="df-circles df-circle-eights"></div>
            <div class="df-date-boxs df-date-eight">
                <p class="df-date">2014.05</p>
                <p>业务规模破亿</p>
            </div>
            <div class="df-circle df-circle-nine"></div>
            <div class="df-circles df-circle-nines"></div>
            <div class="df-date-box df-date-nine">
                <p class="df-date">2013.11</p>
                <p>公司正式注册成立</p>
            </div>
        </div>
    </div>
    <div class="animated J-tabc dc-honour-box" id="dc-honour-box">
        <div class="dc-honour">
            <div class="dc-trophy">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“中国汽车互联网+创新企业100强”</h3>
                <p>2017年9月，荣获中国汽车经销商媒体颁发</p>
            </div>
            <div class="dc-trophy">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“2017中国科技金融先锋榜”</h3>
                <p>2017年9月，荣获证券时报颁发</p>
            </div>
            <div class="dc-trophy">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“最佳汽车融资租赁企业”</h3>
                <p>2016年11月，荣获搜狐颁发的2016中国汽车金融创新大奖</p>
            </div>
            <div class="dc-trophy">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“中国最具投资价值企业50强”</h3>
                <p>2016年10月，荣获2016年清科集团颁发</p>
            </div>
            <div class="dc-trophy">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“二手车经销商战略合作伙伴奖”</h3>
                <p>2016年10月，荣获全国工商联汽车二手车行业发展委员会颁发</p>
            </div>
            <div class="dc-trophy">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“诚信创建企业”称号</h3>
                <p>2016年8月，荣获上海市企业诚信创建活动组委会颁发的上海市</p>
            </div>
            <div class="dc-trophy dc-trophy-box">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh-lv df-fresh-t df-fresh-top">“2015-2016中国二手车市场影响力品牌”</h3>
                <h3 class="df-fresh-lv df-fresh-t">2015-2016中国二手车大会杰出贡献奖”</h3>
                <h3 class="df-fresh-lv df-fresh-t">“2015-2016中国二手车金融创新成就奖”</h3>
                <p>2016年7月，荣获荣获中国汽车流通协会颁发</p>
            </div>
            <div class="dc-trophy dc-trophy-two">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh-lv df-fresh-t df-fresh-top">“2015全国二手车行业创新成就金奖”</h3>
                <h3 class="df-fresh df-fresh-t">2015中国汽车流通行业经营服务模式创新奖”</h3>
                <p>2015年11月，荣获中国汽车流通协会颁发</p>
            </div>
            <div class="dc-trophy">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“汽车物流行业优秀技术装备供应商”</h3>
                <p>2015年11月，荣获中国物流与采购联合会汽车物流分会颁发</p>
            </div>
            <div class="dc-trophy">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“2014-2015中国二手车行业最具价值品牌”</h3>
                <p>2015年6月，荣获中国汽车流通协会颁发</p>
            </div>
            <div class="dc-trophy">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“年度产业链贡献奖”</h3>
                <p>2014年11月，荣获AutoLab汽车实验室、法国马赛商学院颁发</p>
            </div>
            <div class="dc-trophy dc-trophy-h">
                <img src="/dist/images/dc/trophy.png" alt="">
                <h3 class="df-fresh">“2014中国二手车行业影响力品牌奖”</h3>
                <p>2014年11月，荣获中国汽车流通协会颁发的“汽车金融服务创新奖</p>
            </div>
        </div>
    </div>
    <div class="animated J-tabc dc-nucleus" id="dc-nucleus">
        <div class="dc-nucleus-two cfix">
            <div class="df-team">
                <img src="/dist/images/dc/chairman.jpg" alt="" class="df-person">
                <div class="df-team-box">
                    <h3 class="df-team-name">李海燕</h3>
                    <p class="df-profession">创始人/董事长</p>
                    <div class="df-introduce">
                        <p>15年汽车行业经验</p>
                        <p>历任长久集团汽车销售系统总裁及汽车金融系统总裁。</p>
                        <p>曾管理80余家 4S店，负责8,000余家4S店的库存车融资监管服务</p>
                    </div>
                </div>
            </div>
            <div class="df-team df-team-right">
                <img src="/dist/images/dc/ceo.jpg" alt="" class="df-person">
                <div class="df-team-box">
                    <h3 class="df-team-name">郭 超</h3>
                    <p class="df-profession">创始人/CEO</p>
                    <div class="df-introduce">
                        <p>10余年供应链金融经验</p>
                        <p>曾任中国远洋物流有限公司总经理、 长久集团融资租赁公司总经理</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dc-nucleus-box cfix">
            <div class="df-team df-team-b">
                <img src="/dist/images/dc/coo.jpg" alt="" class="df-person">
                <div class="df-team-box">
                    <h3 class="df-team-name">邹大伟</h3>
                    <p class="df-profession">COO</p>
                    <div class="df-introduce">
                        <p>15年汽车行业管理经验</p>
                        <p>丰富的4S店运营管理经验及品牌二手车销售经验。曾担任长久实业集团副总裁， 2014年10月创办品车会</p>
                        <p>现负责第1车贷业务及运营工作</p>
                    </div>
                </div>
            </div>
            <div class="df-team df-team-b">
                <img src="/dist/images/dc/cso.jpg" alt="" class="df-person">
                <div class="df-team-box">
                    <h3 class="df-team-name">褚华骏</h3>
                    <p class="df-profession">CSO</p>
                    <div class="df-introduce">
                        <p>10余年投行、咨询、互联网支付工作经验，曾任职于光大银行、瑞士银行投资银行、支付宝、德勤管理咨询 </p>
                        <p>现负责第1车贷战略规划、金融信息服务及资金合作工作</p>
                    </div>
                </div>
            </div>
            <!--<div class="df-team df-team-b">-->
            <!--<img src="/dist/images/dc/cto.jpg" alt="" class="df-person">-->
            <!--<div class="df-team-box">-->
            <!--<h3 class="df-team-name">吕 歆</h3>-->
            <!--<p class="df-profession">CTO</p>-->
            <!--<div class="df-introduce">-->
            <!--<p>逾15年互联网行业经验，</p>-->
            <!--<p>曾任职于当当网、唯品会，领导技术团队搭建B2C平台</p>-->
            <!--<p>现负责第1车贷系统设计开发</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="df-team df-team-right df-team-b">
                <img src="/dist/images/dc/cro.jpg" alt="" class="df-person">
                <div class="df-team-box">
                    <h3 class="df-team-name">张 楠</h3>
                    <p class="df-profession">CRO</p>
                    <div class="df-introduce">
                        <p>10余年世界500强企业高管工作经验，</p>
                        <p>国有上市银行信贷高级独立审批官及一级大区支行副行长</p>
                        <p>现负责第1车贷风险控制工作</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animated J-tabc dc-keep" id="dc-keep">
        <div class="df-map gb-w">
            <div class="df-map-box">
                <div class="df-assemble">
                    <div class="df-city df-hlj" data-city="df-1"></div>
                    <div class="df-city df-bj" data-city="df-2"></div>
                    <div class="df-city df-hb" data-city="df-3"></div>
                    <div class="df-city df-tj" data-city="df-4"></div>
                    <div class="df-city df-sd" data-city="df-5"></div>
                    <div class="df-city df-hn" data-city="df-6"></div>
                    <div class="df-city df-ah" data-city="df-7"></div>
                    <div class="df-city df-sh" data-city="df-8"></div>
                    <div class="df-city df-js" data-city="df-9"></div>
                    <div class="df-city df-zj" data-city="df-10"></div>
                    <div class="df-city df-jx" data-city="df-11"></div>
                    <div class="df-city df-fj" data-city="df-12"></div>
                    <div class="df-city df-fd" data-city="df-13"></div>
                    <div class="df-city df-fx" data-city="df-14"></div>
                    <div class="df-city df-jl" data-city="df-15"></div>
                    <div class="df-city df-ln" data-city="df-16"></div>
                    <div class="df-city df-nng" data-city="df-17"></div>
                    <div class="df-city df-nx" data-city="df-18"></div>
                    <div class="df-city df-gs" data-city="df-19"></div>
                    <div class="df-city df-sx" data-city="df-20"></div>
                    <div class="df-city df-sxxa" data-city="df-21"></div>
                    <div class="df-city df-qh" data-city="df-22"></div>
                    <div class="df-city df-hbwh" data-city="df-23"></div>
                    <div class="df-city df-sc" data-city="df-24"></div>
                    <div class="df-city df-cq" data-city="df-25"></div>
                    <div class="df-city df-hncs" data-city="df-26"></div>
                    <div class="df-city df-gz" data-city="df-27"></div>
                    <div class="df-city df-yn" data-city="df-28"></div>
                    <div class="df-city df-hnhk" data-city="df-29"></div>
                    <div class="df-city df-xj" data-city="df-30"></div>
                </div>
                <div class="df-city-box">
                    <div class="df-cityassemblet">山东省</div>
                    <div class="df-cityassemblem">青岛 临沂 济宁 济南 烟台 泰安 聊城 威海 淄博 潍坊 东营 日照 滨州 枣庄 菏泽 德州 滕州 莱芜</div>
                    <div class="df-cityassembleb"></div>
                    <div class="df-boxblet1">
                        <div class="df-cityassemblet1">山东省</div>
                        <div class="df-cityassemblem1">青岛 临沂 济宁 济南 烟台 泰安 聊城 威海 淄博 潍坊 东营 日照 滨州 枣庄 菏泽 德州 滕州 莱芜</div>
                        <div class="df-cityassembleb1"></div>
                    </div>
                </div>

                <div class="df-way">
                    <div class="df-way-box">
                        <div class="df-address">
                            <p class="df-tilx">联系方式</p>
                            <p>地址：北京市朝阳区霄云路甲26号海航大厦11层 </p>
                            <p>邮箱：kefu@dycd.com&nbsp&nbsp&nbsp媒体公关：pr@dycd.com</p>
                            <p>客服：4008-365-111</p>
                            <p>前台：010-59230000</p>
                            <p>邮编：100026</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animated J-tabc dc-join" id="dc-join">
        <div class="df-join-box cfix">
            <div class="df-join-left" id="abScroll">
                <ul class="df-industry">
                    <% var aJobs = data.data;for(var i = 0;i < aJobs.length;i++){ %>
                    <% if(i == 0){ %>
                    <li class="df-synthesize df-synthesize-change"
                        data-id="<%= aJobs[i].id %>"><%= aJobs[i].name %></li>
                    <% }else { %>
                    <li class="df-synthesize df-synthesize-top" data-id="<%= aJobs[i].id %>"><%= aJobs[i].name %></li>
                    <% }} %>
                </ul>
                <div class="df-send-box">
                    <p class="df-send">简历请发至</p>
                    <p class="df-email">hr@dycd.com</p>
                    <p class="df-annotate">邮件标题请注</p>
                    <p>“城市+岗位+姓名+工作年限”</p>
                </div>
            </div>
            <div class="df-join-right J-join-box">
                <div class="J-join"></div>
            </div>

        </div>
    </div>
</div>
<%- include ../common/footer.ejs %>
<!--回到顶部-->
<img src="/dist/images/dc/backTop.png" alt="" class="df-backTop">
<script src="/dist/scripts/vendor/velocity.min.js"></script>
<script src="/dist/scripts/dc/aboutus.js?v=<%= VERSION %>"></script>
